<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add new category</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<!-- Menu -->
<div th:replace="~{modules :: navigation}"></div>

<!-- Form -->
<div class="main-wrapper">
    <div class="form-wrapper">
        <h1>Add new Category:</h1>

        <form id="add-category-form" th:action="@{/category/add}" th:method="post" action="add-category-page.html">
            <div class="mb-3">
                <label for="category-name-input" class="form-label">category name:</label>
                <input id="category-name-input" th:field="${categoryDto.name}" value="" class="formbold-form-input"/>
                <p class="error" th:errors="${categoryDto.name}"></p>
            </div>

            <!-- Buttons -->
            <input class="formbold-btn" type="submit" value="submit">
            <input class="formbold-btn" type="reset" value="reset">

        </form>
    </div>
</div>

<!-- All categories table -->
<div class="main-wrapper">
    <div class="form-wrapper">

        <div th:replace="~{modules :: allCategoriesTable}"></div>

        <!-- Buttons -->
        <div class="btns">
            <div class="btn-div"><a class="btn" href="/category">Back</a></div>
        </div>

    </div>
</div>

</body>
</html>