<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Delete role</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<!-- Menu -->
<div th:replace="modules :: navigation"></div>

<!-- Form -->
<div class="main-wrapper">
    <div class="form-wrapper">
        <h1 th:text="|'${role.name}' role delete confirmation:|">Delete role:</h1>

        <form id="add-role-form" th:action="@{/role/{id}/delete(id=${role.id})}" th:method="post"
              action="delete-role-page.html">
            <div class="mb-3">
                <label for="id-input">id:</label>
                <input id="id-input" required readonly="readonly" name="id" type="text" th:value="${role.id}"
                       class="formbold-form-input"/>
            </div>
            <div class="mb-3">
                <label for="role-input">Role name:</label>
                <input id="role-input" required readonly="readonly" name="name" type="text" th:value="${role.name}"
                       class="formbold-form-input"/>
            </div>
            <!-- Buttons -->
            <input class="formbold-btn" type="submit" value="delete">
        </form>
    </div>
</div>
</div>

<!-- Table -->
<div class="main-wrapper">
    <div class="form-wrapper">

        <div th:replace="~{modules :: allRolesTable}"></div>

        <!-- Buttons -->
        <div class="btns">
            <div class="btn-div"><a class="btn" href="/role">Back</a></div>
        </div>
    </div>
</div>

</body>
</html>