
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Stock role</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<!-- Menu -->
<div th:replace="~{modules :: navigation}"></div>

<!-- Form -->
<div class="main-wrapper">
    <div class="form-wrapper">
        <h1 th:text="|'${stockDto.productName}' stock delete confirmation:|">Delete role:</h1>

        <form id="delete-role-form" th:action="@{/stock/{id}/delete(id=${stockDto.id})}" th:method="post"
              action="delete-role-page.html">
            <!-- ID -->
            <div class="mb-3">
                <label for="stock-id-input">ID:</label>
                <input id="stock-id-input"
                       th:field="${stockDto.id}"
                       th:value="${stockDto.id}"
                       readonly="readonly" required
                       class="formbold-form-input"/>
            </div>

            <!-- Product -->
            <div class="mb-3">
                <label for="stock-product-input">Select product:</label>
                <input id="stock-product-input"
                       th:field="${stockDto.productName}"
                       th:value="${stockDto.productName}"
                       class="formbold-form-input"
                       readonly="readonly" required>
                <label hidden="hidden">
                    <input hidden="hidden"
                           th:field="${stockDto.productId}"
                           th:value="${stockDto.productId}"
                           readonly="readonly"/>
                </label>
            </div>

            <!-- Amount -->
            <div class="mb-3">
                <label for="stock-amount-input">Enter amount:</label>
                <input id="stock-amount-input"
                       th:field="${stockDto.amount}"
                       th:value="${stockDto.amount}"
                       readonly="readonly" required
                       class="formbold-form-input"/>
            </div>

            <!-- Price -->
            <div class="mb-3">
                <label for="stock-price-input">Enter price:</label>
                <input id="stock-price-input"
                       th:field="${stockDto.price}"
                       th:value="${stockDto.price}"
                       readonly="readonly" required
                       class="formbold-form-input"/>
            </div>

            <!-- Buttons -->
            <input class="formbold-btn" type="submit" value="delete">
        </form>
    </div>
</div>
</div>

<!-- All roles table -->
<div class="main-wrapper">
    <div class="form-wrapper">

        <div th:replace="~{modules :: allStockTable}"></div>

        <!-- Buttons -->
        <div class="btns">
            <div class="btn-div"><a class="btn" href="/stock">Back</a></div>
        </div>
    </div>
</div>

</body>
</html>