<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<!-- Menu -->
<div th:replace="~{modules :: navigation}"></div>

<!-- Form -->
<div class="main-wrapper">
    <div class="form-wrapper">
        <h1 th:text="|Edit user ${userDto.name}:|">Edit user:</h1>

        <form id="edit-user-form" th:action="@{/user/{id}/edit(id=${userDto.id})}" th:method="post"
              action="edit-user-page.html">
            <!-- id -->
            <div class="mb-3">
                <label for="id-input">id:</label>
                <input id="id-input" name="id" required readonly="readonly" th:field="${userDto.id}" th:value="${userDto.id}"
                       class="formbold-form-input"/>
            </div>
            <!-- name -->
            <div class="mb-3">
                <label for="user-name-input" class="form-label">Name:</label>
                <input id="user-name-input" name="name" th:field="${userDto.name}" th:value="${userDto.name}"
                       placeholder="Enter username" class="formbold-form-input"/>
                <p class="error" th:errors="${userDto.name}"></p>
            </div>
            <!-- email -->
            <div class="mb-3">
                <label for="user-email-input" class="form-label">email:</label>
                <input id="user-email-input" name="email" th:field="${userDto.email}" th:value="${userDto.email}"
                       placeholder="Enter email"
                       class="formbold-form-input"/>
                <p class="error" th:errors="${userDto.email}"></p>
            </div>
            <!-- password -->
            <div class="input-wrapp mb-3">
                <label for="user-psw-input" class="form-label">Password:</label>
                <div>
                    <input id="user-psw-input" type="password" name="password" th:value="${userDto.password}"
                           placeholder="Enter password"
                           class="formbold-form-input"/>

                    <input id="user-psw2-input" type="password" name="password2" th:value="${userDto.password}"
                           placeholder="Repeat password"
                           class="formbold-form-input"/>
                </div>
                <p class="error" th:errors="${userDto.password}"></p>
                <p class="error" th:unless="${userDto.password} == ${userDto.password2}"
                   th:errors="${userDto.password2}"></p>
            </div>
            <!-- date of birth -->
            <div class="mb-3">
                <label for="user-bdate-input" class="form-label">Date of birth:</label>
                <input id="user-bdate-input" name="birthDate" type="date" th:value="${userDto.birthDate}"
                       class="formbold-form-input"/>
                <p class="error" th:errors="${userDto.birthDate}"></p>
            </div>
            <!-- role -->
            <div class="mb-3">
                <label for="user-role-input" class="form-label">Select user role:</label>

                <select id="user-role-input" name="roleId" size="1" class="formbold-form-input">
                    <option th:value="${userDto.roleId}" th:text="${userDto.roleName}" hidden>Select role</option>
                    <option th:each="roleElem:${roleDtoList}" id=user-role-option th:value="${roleElem.id}"
                            th:text="${roleElem.name}" name="whatever">Default option
                    </option>
                </select>
                <!-- When we send form with errors, we receive that form back and there is no userDto.roleName in that form to show in select field. Code below allows it. -->
                <input th:field="${userDto.roleName}" th:value="${userDto.roleName}" hidden/>

                <p class="error" th:errors="${userDto.roleId}"></p>
            </div>
            <br>
            <!-- Buttons -->
            <input class="formbold-btn" type="submit" value="submit">
            <input class="formbold-btn" type="reset" value="reset">
        </form>
    </div>
</div>

<!-- All Users Table -->
<div class="main-wrapper">
    <div class="form-wrapper">

        <div th:replace="~{modules :: allUsersTable}"></div>

        <!-- Buttons -->
        <div class="btns">
            <div class="btn-div"><a class="btn" href="/user">Back</a></div>
        </div>

    </div>
</div>

<div><a href="/">Back</a></div>

</body>
</html>