<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add order details</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<!-- Menu -->
<div th:replace="~{modules :: navigation}"></div>

<!-- Form -->
<div class="main-wrapper">
    <div class="form-wrapper">
        <h1>Edit order details:</h1>

        <form id="add-order-details-form" th:action="@{/order-details/{id}/edit(id=${orderDetailsDto.getId()})}"
              th:method="post"
              action="add-order-details-page.html">

            <table>
                <!-- ID -->
                <div class="mb-3">
                    <label for="order-details-id-input">ID or order detail:</label>
                    <input id="order-details-id-input"
                           th:field="${orderDetailsDto.id}"
                           th:value="${orderDetailsDto.id}"
                           readonly="readonly" required
                           class="formbold-form-input"/>
                    <p class="error" th:errors="${orderDetailsDto.id}"></p>
                </div>

                <!-- Order -->
                <!-- th:with can define vars in this <div> and allows reusing variables defined in the same attribute.
                In orid var "-1" is needed because .get() receives elem not by its ID but by its index.
                Well that was stupid because we can delete an order and next new one will be incremented skipping deleted one and in the list there will be no skips in INDEX

                <div class="mb-3" th:with="orid=${orderDetailsDto.orderId}-1, username=${orderDtoList.get(orid).getId()}">
                 -->
                <div class="mb-3">
                    <label for="order-details-input">Select order:</label>

                    <select name="orderId" size="1" class="formbold-form-input" id="order-details-input">
                        <option hidden="hidden"
                                th:text="|Order #${orderDetailsDto.orderId} from ${orderDetailsDto.userName}|"
                                th:value="${orderDetailsDto.orderId}">
                            <!-- ID values will be preserved -->
                            Select order ID
                        </option>
                        <option th:each="orderElem:${orderDtoList}"
                                th:text="|Order #${orderElem.id} from ${orderElem.getUserName()}|"
                                th:value="${orderElem.id}"
                                id="order-id-option"
                                name="whatever"/>
                    </select>
                    <p class="error" th:errors="${orderDetailsDto.orderId}"></p>
                </div>

                <!-- Product -->
                <div class="mb-3">
                    <label for="order-details-product-input">Select product:</label>
                    <select name="productId" size="1" class="formbold-form-input" id="order-details-product-input">
                        <option hidden="hidden" th:text="${orderDetailsDto.productName}"
                                th:value="${orderDetailsDto.productId}">Select
                            product
                        </option>
                        <option th:each="productElem:${productDtoList}"
                                th:text="${productElem.name}"
                                th:value="${productElem.id}"
                                id="stock-product-option"
                                name="whatever"/>
                    </select>
                    <p class="error" th:errors="${orderDetailsDto.productId}"></p>
                </div>

                <!-- Amount -->
                <div class="mb-3">
                    <label for="order-details-amount-input">Enter amount:</label>
                    <input id="order-details-amount-input"
                           name="amount"
                           th:field="${orderDetailsDto.amount}"
                           th:value="${orderDetailsDto.amount}"
                           placeholder="Enter amount"
                           class="formbold-form-input"/>
                    <p class="error" th:errors="${orderDetailsDto.amount}"></p>
                </div>

                <!-- Price -->
                <div class="mb-3">
                    <label for="stock-price-input">Price:</label>
                    <input id="stock-price-input"
                           name="price"
                           th:field="${orderDetailsDto.price}"
                           th:value="${orderDetailsDto.price}"
                           placeholder="Enter price"
                           class="formbold-form-input"
                           readonly="readonly"/>
                    <p class="error" th:errors="${orderDetailsDto.price}"></p>
                </div>

                <!-- Other DTO fields we need -->
                <input hidden="hidden" name="productName" th:value="${orderDetailsDto.productName}">
                <input hidden="hidden" name="userName" th:value="${orderDetailsDto.userName}">

            </table>

            <!-- Buttons -->
            <input class="formbold-btn" type="submit" value="submit">
            <input class="formbold-btn" type="reset" value="reset">

        </form>
    </div>
</div>

<!-- All order details table -->
<div class="main-wrapper">
    <div class="form-wrapper">

        <div th:replace="~{modules :: allOrderDetailsTable}"></div>

        <!-- Buttons -->
        <div class="btns">
            <div class="btn-div"><a class="btn" href="/order-details">Back</a></div>
        </div>

    </div>
</div>

</body>
</html>