<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<!-- Menu -->
<div th:replace="~{modules :: navigation}"></div>

<div class="main-wrapper">
    <div class="form-wrapper">

        <!-- All categories table -->
        <div th:replace="~{modules :: allCategoriesTable}"></div>

        <div class="btns">
            <div class="btn-div"><a class="btn" href="/">Back</a></div>
            <div class="btn-div"><a class="btn" href="/category/add">Add new category</a></div>
        </div>

    </div>
</div>
</body>
</html>