<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<h1>List of Products:</h1>

<table class="styled-table">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>category</th>
        <th>image path</th>
        <th>details</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="productDto:${productDtoList}">
        <td th:text="${productDto.id}">123</td>
        <td><a th:text="${productDto.name}" th:href="|/product/${productDto.id}|">Default product</a></td>
        <td><a th:text="${productDto.categoryName}" th:href="|/category/${productDto.categoryId}|">Default category</a>
        </td>
        <td th:text="${productDto.imagePath}">Default image path</td>
        <td th:text="${productDto.details}">Default details</td>
        <td><a th:href="|/product/${productDto.id}/edit|">edit</a></td>
        <td><a th:href="|/product/${productDto.id}/delete|">delete</a></td>
    </tr>
    </tbody>
</table>
<div><a href="/">Back</a></div>
</body>
</html>