<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Stock</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<h1>Stock page:</h1>

<table class="styled-table">
    <thead>
    <tr>
        <th>id</th>
        <th>product</th>
        <th>amount</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="stockDto:${stockDtoList}">
        <td th:text="${stockDto.id}">123213</td>
        <td><a th:text="${stockDto.productName}" th:href="|/product/${stockDto.productId}|">Default product</a></td>
        <td th:text="${stockDto.amount}">9999</td>
        <td th:text="${stockDto.price}">999</td>
    </tr>
    </tbody>
</table>
<div><a href="/">Back</a></div>
</body>
</html>