<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${categoryDto.name} category page|">Category page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<h1 th:text="|'${categoryDto.name}' category details:|">Category details:</h1>
<table class="styled-table">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${categoryDto.id}">123</td>
        <td th:text="${categoryDto.name}">Default category</td>
    </tr>
    </tbody>
</table>
<div><a href="/category">Back</a></div>
</body>
</html>