<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Необходимо написать создать страницу, на которой можно будет редактировать сам заказ и детали заказа.-->


<head>
    <meta charset="UTF-8">
    <title th:text="|Order ${orderDto.id}|">Category page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<!-- Menu -->
<div th:replace="~{modules :: navigation}"></div>

<div class="main-wrapper">
    <div class="form-wrapper">
        <h1 th:text="|Order №'${orderDto.id}' details:|">Category details:</h1>
        <table class="styled-table">
            <thead>
            <tr>
                <th>id</th>
                <th>order date</th>
                <th>user</th>
                <th>orderDetails</th>
                <th>cost</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${orderDto.id}">123</td>
                <td th:text="${orderDto.orderDate}">Default orderDate</td>
                <td th:text="${orderDto.userName}">Default user</td>
                <td>
                    <div class="content2">
                        <table class="styled-table-inner">
                            <tr>
                                <th>id</th>
                                <th>order_id</th>
                                <th>product</th>
                                <th>amount</th>
                                <th>price</th>
                            </tr>
                            <tr th:each="elem:${orderDto.orderDetailsDtoList}">
                                <td th:text="${elem.id}">132</td>
                                <td th:text="${elem.orderId}">111</td>
                                <td th:text="${elem.productName}">ProductName</td>
                                <td th:text="${elem.amount}">999</td>
                                <td th:text="${elem.price}">999</td>
                            </tr>
                        </table>
                    </div>
                <td th:text="${orderDto.cost}">999</td>
            </tr>
            </tbody>
        </table>
        <div><a href="/order">Back</a></div>
    </div>
</div>
</body>
</html>