<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="|${productDto.name} product page|">Product page</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>

<!-- Menu -->
<div th:replace="~{modules :: navigation}"></div>

<!-- Product details -->
<div class="main-wrapper">
    <div class="form-wrapper">
        <h1 th:text="|'${productDto.name}' product details:|">Product details:</h1>

        <table class="styled-table">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>category</th>
                <th>image path</th>
                <th>details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${productDto.id}">123213</td>
                <td th:text="${productDto.name}">Default product name</td>
                <td><a th:text="${productDto.categoryName}" th:href="|/category/${productDto.categoryId}|">Default
                    product category</a></td>
                <td th:text="${productDto.imagePath}">Default product image path</td>
                <td th:text="${productDto.details}">Default product details</td>
            </tr>
            </tbody>
        </table>
        <div><a href="/product">Back</a></div>
    </div>
</div>
</body>
</html>