<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title></title>

    <!-- lives at resources/static -->
    <script th:src="@{script.js}"></script>
    <link th:href="@{style.css}" rel="stylesheet">

</head>

<body>

<!-- MENU -->
<div class="menu" th:fragment="navigation">
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/user">users</a></li>
        <li><a href="/role">roles</a></li>
        <li><a href="/category">categories</a></li>
        <li><a href="/product">products</a></li>
        <li><a href="/stock">stock</a></li>
        <li><a href="/order">orders</a></li>
        <li><a href="/order-details">order details</a></li>
    </ul>
</div>

<!-- All Users Table -->
<div th:fragment="allUsersTable">
    <h1>List of all users:</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>password</th>
            <th>date of birth</th>
            <th>role</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userDto:${userDtoList}">
            <td th:text="${userDtoStat.count}">1</td>
            <td th:text="${userDto.id}">123</td>
            <td><a th:text="${userDto.name}" th:href="|/user/${userDto.id}|">Default user</a></td>
            <td th:text="${userDto.email}">Default email</td>
            <td th:text="${userDto.password}">Default password</td>
            <td th:text="${userDto.birthDate}">Default birthdate</td>
            <td><a th:text="${userDto.roleName}" th:href="|/role/${userDto.roleId}|">Default role</a></td>
            <td><a th:href="|/user/${userDto.id}/edit|">edit</a></td>
            <td><a th:href="|/user/${userDto.id}/delete|">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- All Roles Table -->
<div th:fragment="allRolesTable">
    <h1>List of Roles:</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>name</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="roleElem:${rolesList}">
            <td th:text="${roleElemStat.count}">1</td>
            <td th:text="${roleElem.id}">123</td>
            <td><a th:text="${roleElem.name}" th:href="|/role/${roleElem.id}|">Default role</a></td>
            <td><a th:href="|/role/${roleElem.id}/edit|">edit</a></td>
            <td><a th:href="|/role/${roleElem.id}/delete|">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- All Categories Table -->
<div th:fragment="allCategoriesTable">
    <h1>List of Categories:</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="categoryDto:${categoryDtoList}">
            <td th:text="${categoryDto.id}">123</td>
            <td><a th:text="${categoryDto.name}" th:href="|/category/${categoryDto.id}|">Default category</a></td>
            <td><a th:href="|/category/${categoryDto.id}/edit|">edit</a></td>
            <td><a th:href="|/category/${categoryDto.id}/delete|">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- All Products Table -->
<div th:fragment="allProductsTable">
    <h1>List of Products:</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>category</th>
            <th>image path</th>
            <th>details</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productDto:${productDtoList}">
            <td th:text="${productDto.id}">123</td>
            <td><a th:text="${productDto.name}" th:href="|/product/${productDto.id}|">Default product</a></td>
            <td><a th:text="${productDto.categoryName}" th:href="|/category/${productDto.categoryId}|">Default
                category</a>
            </td>
            <td th:text="${productDto.imagePath}">Default image path</td>
            <td th:text="${productDto.details}">Default details</td>
            <td><a th:href="|/product/${productDto.id}/edit|">edit</a></td>
            <td><a th:href="|/product/${productDto.id}/delete|">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- All Stock Table -->
<div th:fragment="allStockTable">
    <h1>Stock page:</h1>
    <table class="styled-table">
        <thead>
        <tr>
            <th>id</th>
            <th>product</th>
            <th>amount</th>
            <th>price</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stockDto:${stockDtoList}">
            <td th:text="${stockDto.id}">123213</td>
            <td><a th:text="${stockDto.productName}" th:href="|/product/${stockDto.productId}|">Default product</a>
            </td>
            <td th:text="${stockDto.amount}">9999</td>
            <td th:text="${stockDto.price}">999</td>
            <td><a th:href="|/stock/${stockDto.id}/edit|">edit</a></td>
            <td><a th:href="|/stock/${stockDto.id}/delete|">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>